.DS_Store
*.kicad_prl
/Tandy_1650_Chess/KiCad/Tandy_1650_Chess-backups
/VIC-20/VIC-20_LogiChess_CPU/VIC-20_LogiChess_CPU-backups
*.graffle
/Chess_Keypad/Chess_Keypad-backups
/LogiChess-Arduino_Testing/LogiChess-Arduino_Testing-backups
