.DS_Store
*.kicad_prl
/Tandy_1650_Chess/KiCad/Tandy_1650_Chess-backups
/VIC-20/VIC-20_LogiChess_CPU/VIC-20_LogiChess_CPU-backups
*.graffle
/Chess_Keypad/Chess_Keypad-backups
/LogiChess-Arduino_Testing/LogiChess-Arduino_Testing-backups
Chess_Keypad/fp-info-cache
/VIC-20_LogiChess/VIC-20_LogiChess_CPU/VIC-20_LogiChess_CPU-backups
/Chess_Keypad/Chess_Keypad_for_Tandy_1650-backups
LogiChess-Arduino_Mega_Shield_Testing/fp-info-cache
LogiChess-Arduino_Mega_Shield_Testing/fp-lib-table
/LogiChess-Arduino_Mega_Shield_Testing/LogiChess-Arduino_Mega_Shield_Testing-backups
